<mat-card class="example-card">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit fermentum eros, ac fringilla nisl tincidunt iaculis. Duis convallis arcu felis, at fermentum nunc bibendum sagittis. Vivamus vestibulum leo ac augue cursus interdum. In hac habitasse platea dictumst. Fusce ut fringilla magna. Nunc condimentum magna lacus, ac luctus enim imperdiet sed. Sed blandit nec magna a euismod. Quisque at tellus ac ipsum tempus pulvinar ac nec tellus. Fusce est elit, efficitur id nulla a, ultrices aliquam urna. Morbi varius imperdiet ex in bibendum. Fusce luctus enim libero, ut fermentum nisi pellentesque nec. Morbi vehicula finibus sem, vel suscipit nulla congue vitae. Mauris id faucibus sapien. Mauris vel dolor nec est auctor bibendum nec et lorem. Aliquam pharetra nibh dapibus efficitur lobortis. Sed id cursus risus.
    </p>
    <p>
      Ut commodo pretium viverra. Nulla venenatis, augue aliquam placerat elementum, arcu odio consequat ipsum, eget vulputate neque velit ut mi. Phasellus quis sapien quam. Pellentesque porttitor velit leo, nec bibendum metus vestibulum in. Mauris malesuada metus a consequat egestas. Cras urna quam, ornare a enim at, pellentesque sodales erat. Curabitur sed dignissim velit, non cursus nisi. Nullam sollicitudin non urna non porta. In dictum, nulla vel posuere facilisis, erat ligula sagittis orci, sed sollicitudin augue nisl in elit. Duis vel placerat sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ornare porttitor porta. Fusce commodo hendrerit lacus vel vulputate.
    </p>
    <p>
      In efficitur mauris eu nibh accumsan convallis. Suspendisse ullamcorper tempus orci ac sollicitudin. Nunc diam libero, rhoncus malesuada vulputate id, pretium quis urna. Maecenas tristique ipsum arcu, quis tempus ante convallis in. Sed varius condimentum nunc ut consectetur. Aenean eget sem eget nulla venenatis consequat vitae ac augue. Nulla elit turpis, congue vitae sapien eu, sagittis ornare enim. Nam in ultrices risus.
    </p>
  </mat-card-content>
</mat-card>
