<mat-card class="card-class">
  <mat-card-title>Please Add Details</mat-card-title>

  <form [formGroup]="myForm" novalidate>
    <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label>Enter Name</mat-label>
        <input matInput type="name" formControlName="name" id="name">
        <mat-hint align="start">Not more then 20 characters long.</mat-hint>
        <mat-error *ngIf="myError('name', 'required')">Name is required</mat-error>
        <mat-error *ngIf="myError('name', 'maxlength')">Limit exceed</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10" matInput id="description"
          formControlName="description"></textarea>

        <mat-hint align="end">Not more then 50 characters long.</mat-hint>
        <mat-error *ngIf="myError('description', 'required')">Address is required</mat-error>
        <mat-error *ngIf="myError('description', 'maxlength')">Limit exceed</mat-error>
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="" formControlName="price" id="price">

        <mat-error *ngIf="myError('price', 'required')">Price is required</mat-error>
        <mat-error *ngIf="myError('price', 'pattern')">Should be Number</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput type="" formControlName="quantity" id="quantity">

        <mat-error *ngIf="myError('quantity', 'required')">quantity is required</mat-error>
        <mat-error *ngIf="myError('quantity', 'pattern')">Should be Numeric</mat-error>
      </mat-form-field>
      <br>
      
      <button mat-raised-button color="accent" (click)="onSubmit()"   type="submit" [disabled]="!myForm.valid">Submit</button>

    </mat-card-content>
  </form>

</mat-card>